{:paths ["src" "resources"]

 :deps
 {org.clojure/clojure                             {:mvn/version "1.10.3"}
  org.clojure/core.async                          {:mvn/version "1.3.618"}

  ;; dependency injection
  integrant/integrant                             {:mvn/version "0.8.0"}

  ;; Logging
  com.taoensso/timbre                             {:mvn/version "5.1.2"}

  ;; utilities
  metosin/jsonista                                {:mvn/version "0.3.3"}
  borkdude/edamame                                {:mvn/version "0.0.19"}
  luchiniatwork/ambiente                          {:mvn/version "0.1.4"}
  luchiniatwork/orzo                              {:mvn/version "0.1.11"}
  net.clojars.luchiniatwork/anomalies             {:mvn/version "0.0.2"}}

 :aliases
 {:dev {:extra-paths ["dev"]
        :extra-deps
        {integrant/repl                                 {:mvn/version "0.3.1"}}}

  :test {:extra-paths ["test"]
         :extra-deps
         {lambdaisland/kaocha                           {:mvn/version "1.0.732"}}
         :main-opts
         ["-m" "kaocha.runner"]}}}
